<h1></h1>

<!--<div>-->
<!--  <iframe class="embed-responsive-item" width="700" height="400" src=<%=@result1%>></iframe>-->
<!--</div>-->

<div class="row">
  <div class="col-md-6"><iframe class="embed-responsive-item" width="760" height="500" src=<%=@result1%>></iframe></div>
  <div class="col-md-6"><img width="770" height="500" src=<%=@result2%> /></div>
</div>
<div>
    <a  style="width:50%; " class="btn btn-success btn-lg" href="#" role="button" >다시</a>
</div>
  
  



<!--너의 이름은 <%= @data %> -->
