<form action="random_game/game" method="get">
   <div>
    <h1>영화 뭐 볼까??????????????????</h1>
        <a href="random_game/game">
        <button type="button" class="btn btn-danger" style="width:50%">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
        </button>
        </a>
    </div>
    
    <!--<input type='text' name="name">  <!--#빈칸 만들기-->
    <!--<input type="submit" value="보내기"> <!--보내기가 적혀있는 버튼-->
</form>
<!--<a href="random_game/game" class="btn btn-danger btn-lg" role="button">-->